<footer
  class="z-0 flex my-7 bg-white/80 dark:bg-neutral-700/10 rounded-xl
          dark:text-indigo-100
          h-24 w-full items-center justify-center border dark:border-gray-900">
  <a
    class="flex items-center justify-center gap-2"
    href="https://webmatrices.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Powered by
    <span class="text-2xl font-bold">Webmatrices</span>
  </a>
</footer>