<% if error_el.errors.any? %>
  <div id="error_explanation" class="bg-red-50 text-red-500 font-medium">
    <ul class="py-2 px-3 grid place-items-center">
      <% error_el.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>