<% if notice %>
  <div id="error_explanation" class="bg-green-50 text-red-500 px-3 py-2 font-medium rounded-lg my-3">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg my-3">
    <%= alert %>
  </div>
<% end %>