<%= render "components/navbar" do %>
  <div class="flex w-full justify-center">
    <div class="w-full px-3 md:w-9/12 lg:w-7/12 py-9 space-y-7">
      <h1 class="text-4xl font-extrabold">Settings for @<%= current_user.username %></h1>
      <div class="flex flex-col md:flex-row">
        <%= render "components/setting/settings_link" %>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>