<%= form_with(model: [quick_tweet, comment], class: "w-full", id: "#{dom_id(Comment.new)}_form") do |form| %>
  <%= render "components/errors", error_el: comment %>
  <div class="my-5">
    <%= form.text_area :body, rows: 3, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>