<div class="bg-slate-100 rounded overflow-hidden">
  <%= form_with model: quick_tweet do |form| %>
    <%= render "components/editor/edit", form: form, id: "#{dom_id(quick_tweet)}_form", field: 'content' %>
  <% end %>
</div>