<%= render "components/errors" %>
<div class="grid place-items-center bg-blue-100 min-h-screen smart-padding">
  <%= form_with(model: @quick_tweet, class: "w-full rounded-xl overflow-hidden") do |form| %>
    <%= render "components/editor/edit", form: form, field: :content, placeholder: "Write a new quick tweet" %>
  <% end %>
</div>

<style>
  .ProseMirror {
      min-height: 50vh;
      max-height: 70vh;
      overflow-y: scroll;
  }
</style>