<%= render "components/errors", error_el: @quick_tweet %>

<div class="page-posting-section bg-indigo-50">
  <h1 class="page-title-heading">New quick tweet</h1>
  <%= form_with model: @quick_tweet, class: "w-full rounded overflow-hidden", id: "#{dom_id(@quick_tweet)}_form" do |form| %>
    <%= render "components/editor/edit", form: form, field: 'content' %>
  <% end %>
</div>

<style>
  .ProseMirror {
      height: 60vh;
  }
</style>