<%= render "components/aside_bar" do %>
  <div class="w-full h-screen lg:px-16 py-7 md:py-10">
      <h1 class="font-bold text-xl md:text-2xl lg:text-4xl">Your Bookmarks</h1>
      <%= render "bookmark/bookmark", bookmarks: @bookmarks %>
  </div>


  <%= content_for :right_aside_bar do %>
    <div class="px-6 py-4">
      Comment Will Be here
    </div>
  <% end %>
<% end %>

