<%= form_with(model: post, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.text_field :title,
                        placeholder: 'Story Title',
                        class: "block text-4xl border-l-4 focus:border-slate-700 border-slate-500 font-light py-2 border-0 bg-white/10 backdrop-blur focus:outline-none focus:ring-0 h-12 px-3 py-2 mt-2 w-full" %>
  </div>
  <%= render "components/editor/edit", form: form, field: 'body' do %>
  <% end %>
<% end %>
