<%= render "components/errors", error_el: @post %>

<div class="page-posting-section bg-indigo-50">
  <h1 class="page-title-heading">Edit post</h1>
  <%= render "form", post: @post %>
</div>
<style>
    .ProseMirror {
        height: 100vh;
    }
</style>