<%= content_for(:title, "Deviser Club ~ A club for anon discussion ~ Rails App") %>

<%= render "components/aside_bar" do %>
  <main id="all_posts" class="h-auto min-w-0 block text-sm">
    <%= render @all_posts %>
  </main>
  <%= content_for :right_aside_bar do %>
      Hey
  <% end %>
<% end %>

<%#= render "components/nav_add_posts" %>

<footer
  class="flex bg-white/80 dark:bg-black/80 dark:text-indigo-100
                h-24 w-full items-center justify-center border-t dark:border-gray-900">
  <a
    class="flex items-center justify-center gap-2"
    href="https://webmatrices.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    Powered by
    <span class="text-2xl font-bold">Webmatrices</span>
  </a>
</footer>